<header class="p-3 text-bg-dark">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

            {% block topmenu %}
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-2 text-white">Reports</a></li>
                <li><a href="#" class="nav-link px-2 text-white">Templates </a></li>
                <li><a href="#" class="nav-link px-2 text-white">Chatter Box</a></li>
                <li><a href="#" class="nav-link px-2 text-white">Documents</a></li>
            </ul>
            {% endblock %}
            {% block nav-btn %}
            <div class="d-flex" style="margin-right: 25px;">
                <div class="input-group input-group-sm">
                    <input class="form-control" type="search" id="search" placeholder="Live search..."
                        aria-label="Search">
                    <!-- <a href="{% url 'client-index' %}" class="btn btn-secondary btn-sm"><i
                            class="fas fa-sync-alt"></i></a> -->
                </div>
            </div>

            <div class="text-end">
                <a class="btn btn-outline-warning" href="{% url 'login' %}" role="button">Login</a>
                <a class="btn btn-outline-warning" href="{% url 'user-register' %}" role="button">Sign Up</a>
                <a href="{% url 'user-logout' %}" class="btn btn-danger btn-sm"
                    style="margin-left: 25px; border-radius: 50%;"><i class="fas fa-power-off"></i></a>
            </div>
            {% endblock nav-btn %}

        </div>
    </div>
</header>