{% url 'dashboard-index' as path_to_dashboard %}

<!-- <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 200px; height: 100vh;"> -->
<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 200px;">
    <a href="#" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <span class="fs-4">LEXCore</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="#" class="nav-link text-white" aria-current="page">
                <i class="fas fa-chart-bar"></i>&nbsp;&nbsp;Dashboard
            </a>
        </li>
        <li>
            <a class="nav-link text-white">
                <i class="fas fa-user-alt"></i>&nbsp;&nbsp;Clients
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-white">
                <i class="far fa-folder-open"></i>&nbsp;&nbsp;Case Folders
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-white">
                <i class="fas fa-briefcase"></i>&nbsp;&nbsp;Engagements
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-white">
                <i class="fa fa-search"></i> Search Engine
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-white">
                <i class="fas fa-hand-holding-usd"></i> Billing Accounts
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-white">
                <i class="fas fa-folder-plus"></i> Lookup Codes</a>
        </li>
        <li>
            <a href="#" class="nav-link text-white">
                <i class="fas fa-binoculars"></i> TM Watch</a>
        </li>
        <li>
            <a href="#" class="nav-link text-white">
                System Administrator
            </a>
        </li>
    </ul>
    <hr>
    <div class="dropdown">
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
            data-bs-toggle="dropdown" aria-expanded="false"><strong>mdo</strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
    </div>
</div>