{% extends 'layout/base.html' %}
{% load static %}
{% block title %}
Template
{% endblock title %}

{% block content %}
<div class="d-flex">
    {% include 'layout/sidebar.html' %}
    <div class="w-100">
        {% include 'layout/header.html' %}
        <div class="my-3 mx-3">
            <div class="card">
                <div class=" card-header text-center" style=" color: black; background-color:rgb(228, 248, 188);">
                    <a class="nav-link active" aria-current="page" href="{% url 'newtemplate' %}"><i class="fas fa-plus"></i>                    
                    <b>Templates/Standard</b></a>
                </div>
                <table class="table-hover table-bordered table-sm small table" id="templatelist">
                    <thead class="table-primary text-center">
                        <tr>
                            <th>#</th>
                            <th>Folder</th>
                            <th>Template</th>
                            <th>Description</th>
                            <th>File Name</th>
                            <th>Date Modified</th>
                            <th>Select</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for doc in templates %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ doc.folder }}</td>
                            <td>{{ doc.template_name }}</td>
                            <td>{{ doc.template_docname }}</td>
                            <td>{{ doc.filename }}</td>
                            <td>{{ doc.modified_at }}</td>
                            <td style="text-align: center;"><a class="btn btn-secondary btn-sm" href="{% url 'edit-template' doc.id %}" title="Select Template"><i
                                        class="far fa-hand-pointer"></i></a>
                            </td>
    
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                
            </div>



        </div>
    </div>
</div>
{% endblock content %}