<div class="modal fade" {% block modal-id %} id="sendchatModal" {% endblock modal-id %}data-bs-backdrop="static"
    data-bs-keyboard="false" tabindex="-1" aria-labelledby="sendchatModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title fs-5" id="sendchatModalLabel">
                    {% block modal-title %} <i class="fas fa-plus"></i> &nbsp; &nbsp; Client Entry Form
                    {% endblock modal-title %}
                </h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{% url 'send-chat' %}" method="POST" class="row g-3">
                <div class="col-auto">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="input-group input-group-sm mb-1 mt-1">
                                <span class="input-group-text" style="width: 113px;">Message To</span>
                                {{form.messageto}}
                            </div>
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 113px;">Message</span>
                                {{form.messagebox}}
                            </div>
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 113px;">Matter</span>
                                {{form.see_matter}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <a class='btn btn-secondary mb-2' data-bs-dismiss="modal">close</a>
                        <input class='btn btn-secondary mb-2' type="submit" value="Save">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>