{% extends 'layout/base.html' %}
{% block title %}
Data Migration
{% endblock title %}

{% block content %}
<div class="d-flex">
    {% include 'layout/sidebar.html' %}
    <div class="w-100">
        {% include 'layout/header.html' %}
        <div class="my-3 mx-3">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#downloadModal">
                Export/Download
            </button>
            <div class="modal fade" id="downloadModal" tabindex="-1">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title">Export</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="" method="POST">
                            {% csrf_token %}
                            {{form.as_p}}
                            <button type="submit" class="btn btn-secondary">Save</button>
                        </form>
                    </div>
                  </div>
                </div>
            </div>              
            <div class="card">
                <a class="btn btn-secondary btn-sm mt-1" data-bs-toggle="modal" data-bs-target="#addclientModal"
                        title="New Client"><i class="fas fa-plus"></i></a>
                    <b>download</b>
                <table class="table-hover table-bordered table-sm small table" id="clientlist">
                    <!-- <table class="table-hover table-sm table-bordered small table table-dark table-striped">         -->
                    <thead class="table-primary text-center">
                        <tr>
                            <th scope="col" style="width:3%;">#</th>
                            <th scope="col" style="width:15%;">Client Number</th>
                            <th scope="col" style="width:10%;">Client Name</th>
                            <th scope="col" style="width:15%;">Street</th>
                            <th scope="col" style="width:10%;">Email</th>
                            <th scope="col" style="width:8%;">Industry</th>
                            <th scope="col" style="width:30%;">Client Type</th>
                            <th scope="col" style="width:5%;">ContactPerson</th>
                            <th scope="col" style="width:5%;">Select</th>

                        </tr>
                    </thead>
                    {% for client in clients %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{client.CLIENTNUMBER}}</td>
                        <td>{{ client.ClientName }}</td>
                        <td>{{ client.Street }}</td>
                        <td>{{ client.EMail }}</td>
                        <td>{{ client.industry }}</td>
                        <td>{{ client.ClientType }}</td>
                        <td>{{ client.ContactPerson }}</td>
                        <td style="text-align: center;"><a class="btn btn-secondary btn-sm"
                                href="#" title="Select"><i
                                    class="far fa-hand-pointer"></i></a>
                        </td>
                    </tr>
                    {% endfor %}

                </table>
            </div>            
        </div>
    </div>
</div>
{% endblock content %}