{% extends 'layout/base.html' %}
{% block title %}
Client Details
{% endblock title %}

{% block content %}
<div class="d-flex">
    {% include 'layout/sidebar.html' %}
    <div class="w-100">
        {% include 'layout/header.html' %}
        <div class="my-3 mx-3">
            <div class="card">
                <form action="{% url 'new-user' %}" method="POST" class="row g-3">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="input-group input-group-sm mb-1 mt-1">
                                <span class="input-group-text" style="width: 113px;">User Name</span>
                                <input type="text" name="userid" value="{{userprofile.id}}" class="form-control"
                                    readonly>
                            </div>
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 113px;">Lawyer</span>
                                {{form.lawyerID}}
                            </div>
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 113px;">Lawyer Name</span>
                                {{form.lawyer_name}}
                            </div>
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 113px;">Access Code</span>
                                {{form.access_code}}
                            </div>
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" name="rank" style="width: 113px;">Phone</span>
                                {{form.phone}}
                            </div>
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 113px;">Hourly Rate</span>
                                {{form.hourlyrate}}
                            </div>
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 113px;">IBP Roll#</span>
                                {{form.IBPRollNo}}
                            </div>
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 113px;">IBP Chapter</span>
                                {{form.IBPChapter}}
                            </div>
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 113px;">IBP Life Time</span>
                                {{form.IBPLifetimeNo}}
                            </div>
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 113px;">Specialization</span>
                                {{form.Specialization}}
                            </div>
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 113px;">Remarks</span>
                                {{form.remarks}}
                            </div>
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 113px;">Remarks</span>
                                {{form.date_hired}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <input class='btn btn-secondary' type="submit" value="Save">
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
{% endblock content %}