{% extends 'layout/base.html' %}
{% block title %}
Layer
{% endblock title %}

{% block content %}
<div class="d-flex">
    {% include 'layout/sidebar.html' %}
    <div class="w-100">
        {% include 'layout/header.html' %}
        <div class="my-3 mx-3">
            <div class="col-md-6 offset-md-3">
                <div class="border bg-white p-3 bg-gradient-primary text-black">
                    <h6>Lawyer Other Info - {{userprofile}}</h6>
                    <hr>
                        <form action="" method="POST">
                            {% csrf_token %}
                            <div class="col-auto">
                                <div class="row">
                                    <div class="col-lg-12">
                                        {% for msg in messages %}
                                            <div class="alert alert-danger text-center" role="alert">
                                                {{ msg }} 
                                            </div>          
                                        {% endfor%}
                                        <div class="input-group input-group-sm mb-1">
                                            <span class="input-group-text" style="width: 110px;">Lawyer</span>
                                            {{form.lawyerID}}
                                        </div>
                                        <div class="input-group input-group-sm mb-1">
                                            <span class="input-group-text" style="width: 110px;">Lawyer Name</span>
                                            {{form.lawyer_name}}
                                        </div>
                                        <div class="input-group input-group-sm mb-1">
                                            <span class="input-group-text" style="width: 110px;">Access Code</span>
                                            {{form.access_code}}
                                        </div>
                                        <div class="input-group input-group-sm mb-1">
                                            <span class="input-group-text" style="width: 110px;">Contact#</span>
                                            {{form.phone}}
                                        </div>
                                        <div class="input-group input-group-sm mb-1">
                                            <span class="input-group-text" style="width: 110px;">Hourly Rate</span>
                                            {{form.hourlyrate}}
                                        </div>
                                        <div class="input-group input-group-sm mb-1">
                                            <span class="input-group-text" style="width: 110px;">IBP Roll No</span>
                                            {{form.IBPRollNo}}
                                        </div>
                                        <div class="input-group input-group-sm mb-1">
                                            <span class="input-group-text" style="width: 110px;">IBP Chapter</span>
                                            {{form.IBPChapter}}
                                        </div>
                                        <div class="input-group input-group-sm mb-1">
                                            <span class="input-group-text" style="width: 110px;">IBP Lifetime#</span>
                                            {{form.IBPLifetimeNo}}
                                        </div>
                                        <div class="input-group input-group-sm mb-1">
                                            <span class="input-group-text" style="width: 110px;">Specialization</span>
                                            {{form.Specialization}}
                                        </div>
                                        <div class="input-group input-group-sm mb-1">
                                            <span class="input-group-text" style="width: 110px;">Remarks</span>
                                            {{form.remarks}}
                                        </div>
                                        <div class="input-group input-group-sm mb-1">
                                            <span class="input-group-text" style="width: 110px;">Date Hired</span>
                                            {{form.date_hired}}
                                        </div>
                                    </div>
                                </div>
                                <!-- <button type="submit" class="btn btn-primary mb-3">Save Record</button> -->
                                <a class='btn btn-success' href="{% url 'list-user' %}">Return</a>
                                <input class='btn btn-success' type="submit" value="Save">
                            </div>
                        </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}