{% extends 'layout/base.html' %}
{% block content %}
<div class="d-flex">
    {% include 'layout/sidebar.html' %}
    <div class="w-100">
        {% include 'layout/header.html' %}
        <div class="my-3 mx-3">
            <form action="" method="POST" enctype="multipart/form-data" class="row g-3" >
                {% csrf_token %}
                <div class="card">
                    <div class="card-header text-center text-white sm bg-primary mb-2">
                        <b>{{matter.folder.client.client_name}}</b>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 113px;">Docket #</span>
                                {{form.matter_id}}
                            </div>
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 113px;">Title</span>
                                {{form.matter_title}}
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 113px;">Our Appearance</span>
                                {{form.appearance}}
                            </div>
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 113px;">Matter Contact</span>
                                {{form.matter_contact_person}}
                            </div>
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 113px;">Lawyer</span>
                                {{form.handling_lawyer}}
                            </div>

                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 113px;">Opp Lawyer</span>
                                {{form.opposing_counsel}}
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 113px;">Status</span>
                                {{form.status}}
                            </div>
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 113px;">App Type</span>
                                {{form.apptype}}
                            </div>
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 113px;">Client Reference</span>
                                {{form.clientrefno}}
                            </div>
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 113px;">Our Reference</span>
                                {{form.referenceno}}
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 113px;">Filing Date</span>
                                {{form.filing_date}}
                            </div>

                        </div>
                        <div class="col-lg-3">
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 113px;">File/Case#</span>
                                {{form.matterno}}
                            </div>

                        </div>
                        <div class="col-lg-6">
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 113px;">Case Type</span>
                                {{form.case_type}}
                            </div>

                        </div>
                        <div class="col-lg-6">
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 113px;">Venue</span>
                                {{form.filed_at}}
                            </div>

                        </div>
                        <div class="col-lg-6">
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 113px;">Nature</span>
                                {{form.nature}}
                            </div>

                        </div>
                        <div class="col-lg-6">
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 113px;">Stage</span>
                                {{form.stage_group}}
                            </div>

                        </div>

                        <div class="h6 pb-2 mb-2 text-success border-bottom border-success">
                            <b>Divisional Application (for Divisional Applications, if applicable)</b>
                        </div>
                        <div class="col-lg-6">
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 113px;">Parent AppNo</span>
                                {{form.parent_appno}}
                            </div>

                        </div>
                        <div class="col-lg-6">
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 113px;">Parent App Date</span>
                                {{form.parent_appdate}}
                            </div>
                        </div>
                        <div class="h6 pb-2 mb-2 text-success border-bottom border-success">
                            <b>IPO Assignments</b>
                        </div>
                        <div class="col-lg-6">
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 113px;">App No.</span>
                                {{form.application_no}}
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 113px;">Date Filed</span>
                                {{form.application_date}}
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 113px;">Letters Patent</span>
                                {{form.certificate_no}}
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 113px;">Cert Date</span>
                                {{form.registration_date}}
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 113px;">E-gazette</span>
                                {{form.publication_reference}}
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 113px;">Publication</span>
                                {{form.publication_date}}
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 113px;">Renewal Date</span>
                                {{form.renewal_date}}
                            </div>
                        </div>
                        <div class="h6 pb-2 mb-2 text-success border-bottom border-success">
                            <b>Other Information</b>
                        </div>
                        <div class="col-lg-6">
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 113px;">Date Abandoned</span>
                                {{form.date_of_Withdrawn}}
                            </div>
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 113px;">Reason</span>
                                {{form.reason_withdrawn}}
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 120px;">Created </span>
                                <input type="text" name="folder" value="{{ip_matter.created}}"
                                    class="form-control" readonly>
                            </div>

                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 120px;">Modified</span>
                                <input type="text" name="folder" value="{{ip_matter.updated}}"
                                    class="form-control" readonly>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-8 mb-2">
                            <a class='btn btn-secondary' href="{% url 'select-matter' matter.id %}">Return</a>
                            <input class='btn btn-secondary' type="submit" value="Save">
                            </div>
                        </div>
                    </div>
                </div>    
            </form>
            <div class="card">
                <div class="card-header text-center text-white sm bg-primary mb-2">
                    <a href="{% url 'add-image' matter.id %}" class="btn btn-secondary btn-sm mt-1"
                        title="New Matter"><i class="fas fa-plus"></i></a>
                    Attach Other Design Images
                </div>
                <div class="container mb-2 mt-2">
                    {% for image in image %}
                    <img class="img-fluid" src="{{ image.imageURL }}" height="200" width="200" />
                    {{image.description}} - {{image.docdate}}
                    <div class="div">
                        <a href="{% url 'edit-image' image.id %}" class="btn btn-secondary btn-sm mt-1" title="Edit"><i
                                class="fas fa-edit"></i></a>
                        <a href="{% url 'delete-image' image.id %}" class="btn btn-secondary btn-sm mt-1"
                            title="Edit"><i class="fas fa-trash-alt"></i></a>

                    </div>

                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
</div>
</div>
{% endblock %}