{% extends 'layout/base.html' %}
{% load static %}
{% block title %}
Applicants
{% endblock title %}
{% block content %}
<div class="d-flex">
    {% include 'layout/sidebar.html' %}
    <div class="w-100">
        {% include 'layout/header.html' %}
        <!-- <link rel="stylesheet" href="{% static 'assets/css/style.css' %}"> -->

        <div class="my-3 mx-3">
            <div class="card">
                <a href='{% url 'select-matter' pk %}' > Return</a>
                <div class="card-header text-center mb-2" style=" color: black; background-color:rgb(228, 248, 188);">
                    <a class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#newapplicantModal"
                        title="Add Applicant"><i class="fas fa-plus"></i></a>&nbsp;&nbsp;<b>Lists Of Applicants</b>
                </div>

                <table class="table-hover table-bordered table-sm small table" id="listofapplicants">
                    <thead class="table-primary text-center">
                        <tr>
                            <th scope="col" style="width:3%;">#</th>
                            <th scope="col" style="width:25%;">Applicant</th>
                            <th scope="col" style="width:10%;">Email</th>
                            <th scope="col" style="width:12%;">Contact#</th>
                            <th scope="col" style="width:25%;">Address</th>
                            <th scope="col" style="width:20%;">Country</th>
                            <th scope="col" style="width:5%;">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for applicant in applicants %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ applicant.applicant }}</td>
                            <td>{{ applicant.email }}</td>
                            <td>{{ applicant.contact_no }}</td>
                            <td>{{ applicant.address }}</td>
                            <td>{{ applicant.country }}</td>
                            <td style="text-align: center;"><a class="btn btn-secondary btn-sm"
                                    href="{% url 'edit-applicant' applicant.id matter.id %}" title="Modify"><i
                                        class="fas fa-edit"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<!-- <script>
    var newSearch = $("#matterlist").DataTable();
    $('#search').keyup(function () {
        newSearch.search($(this).val()).draw();
    })
</script> -->

{% endblock%}