<div class="modal fade" id="newclGoods" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="newclGoodsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="newclGoodsModalLabel">Classification Of Goods/Services</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'new-classofgoods' %}" method="POST" class="row g-3"> {% csrf_token %}
                    <div class="col-auto">
                        <div class="row">
                            <div class="input-group input-group-sm mb-1 mt-1">
                                <span class="input-group-text" style="width: 113px;">Matter ID</span>
                                <input type="text" name="matter" value="{{matter.id}}" class="form-control" readonly>
                            </div>
                            <div class="input-group input-group-sm mb-1 mt-1">
                                <span class="input-group-text" style="width: 113px;">Matter</span>
                                <input type="text" name="matter_desc" value="{{ matter.matter_title }}"
                                    class="form-control" readonly>
                            </div>
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 113px;">Class Of Goods</span>
                                {{formClGoods.nice_class}}
                            </div>
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 113px;">Description</span>
                                {{formClGoods.class_description}}
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                    <input class='btn btn-secondary' type="submit" value="Save">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>