{% extends 'layout/base.html' %}
{% block title %}
Trademark Details
{% endblock title %}
{% block content %}
<div class="d-flex">
    {% include 'layout/sidebar.html' %}
    <div class="w-100">
        {% include 'layout/header.html' %}
        <div class="my-3 mx-3">
            <!-- {% include 'components/header.html' with title="Client Information" description="Details" %} -->

            <div class="card">
                <div class="card-header text-center text-white sm bg-primary">
                    <b>Preparing Invoice For - {{matter.matter_title}}</b>
                </div>
                <div class=" card-body">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-bs-toggle="tab" href="#detail">Detail </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#pf">Service Rendered</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#fees">Filing Fees</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#ope">Other/Misc. Expenses</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#invoices">Invoices</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane container active" id="detail">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="input-group input-group-sm mb-1 mt-1">
                                        <span class="input-group-text" style="width: 113px;"> Case Folder</span>
                                        <input type="text" name="folder" value="{{matter.folder.folder_description}}"
                                            class="form-control" readonly>
                                    </div>
                                    <div class="input-group input-group-sm mb-1">
                                        <span class="input-group-text" style="width: 113px;"> Trademark </span>
                                        <input type="text" name="folder" value="{{matter.matter_title}}"
                                            class="form-control" readonly>
                                    </div>
                                </div>
                                <div class="col-lg-10">
                                    <div class="input-group input-group-sm mb-1">
                                        <span class="input-group-text" style="width: 113px;">Claim Color </span>
                                        <input type="text" name="folder" value="{{ip_matter.claim_of_color}}"
                                            class="form-control" readonly>
                                    </div>
                                    <div class="input-group input-group-sm mb-1">
                                        <span class="input-group-text" style="width: 113px;">Translation </span>
                                        <input type="text" name="folder" value="{{ip_matter.translation}}"
                                            class="form-control" readonly>
                                    </div>
                                    <div class="input-group input-group-sm mb-1">
                                        <span class="input-group-text" style="width: 113px;">Disclaimer</span>
                                        <input type="text" name="folder" value="{{ip_matter.disclaimer}}"
                                            class="form-control" readonly>
                                    </div>
                                    <div class="input-group input-group-sm mb-1">
                                        <span class="input-group-text" style="width: 113px;">Type Of Mark </span>
                                        <input type="text" name="folder" value="{{ip_matter.type_of_mark}}"
                                            class="form-control" readonly>
                                    </div>



                                </div>
                                <div class="col-lg-6">
                                    <div class="input-group input-group-sm mb-1">
                                        <span class="input-group-text" style="width: 113px;"> Our Appearance </span>
                                        <input type="text" name="folder" value="{{matter.appearance}}"
                                            class="form-control" readonly>
                                    </div>
                                    <div class="input-group input-group-sm mb-1">
                                        <span class="input-group-text" style="width: 113px;"> Matter Contact </span>
                                        <input type="text" name="folder"
                                            value="{{matter.matter_contact_person.contact_person}}" class="form-control"
                                            readonly>
                                    </div>

                                    <div class="input-group input-group-sm mb-1">
                                        <span class="input-group-text" style="width: 113px;">Lawyer </span>
                                        <input type="text" name="folder" value="{{matter.handling_lawyer.lawyer_name}}"
                                            class="form-control" readonly>
                                    </div>
                                    <div class="input-group input-group-sm mb-1">
                                        <span class="input-group-text" style="width: 113px;">Opp Lawyer </span>
                                        <input type="text" name="folder" value="{{matter.opposing_counsel}}"
                                            class="form-control" readonly>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="input-group input-group-sm mb-1">
                                        <span class="input-group-text" style="width: 113px;">Client Reference </span>
                                        <input type="text" name="folder" value="{{matter.clientrefno}}"
                                            class="form-control" readonly>
                                    </div>
                                    <div class="input-group input-group-sm mb-1">
                                        <span class="input-group-text" style="width: 113px;">Our Reference </span>
                                        <input type="text" name="folder" value="{{matter.referenceno}}"
                                            class="form-control" readonly>
                                    </div>
                                    <div class="input-group input-group-sm mb-1">
                                        <span class="input-group-text" style="width: 113px;">Status </span>
                                        <input type="text" name="folder" value="{{matter.status}}" class="form-control"
                                            readonly>
                                    </div>
                                    <div class="input-group input-group-sm mb-1">
                                        <span class="input-group-text" style="width: 113px;">App Type </span>
                                        <input type="text" name="folder" value="{{matter.apptype}}" class="form-control"
                                            readonly>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="input-group input-group-sm mb-1">
                                        <span class="input-group-text" style="width: 113px;"> Filing Date </span>
                                        <input type="text" name="folder" value="{{ matter.filing_date | date:'m/d/Y'}}"
                                            class="form-control" readonly>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="input-group input-group-sm mb-1">
                                        <span class="input-group-text" style="width: 113px;">File/Case# </span>
                                        <input type="text" name="folder" value="{{matter.matterno}}"
                                            class="form-control" readonly>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="input-group input-group-sm mb-1">
                                        <span class="input-group-text" style="width: 113px;">Case Type </span>
                                        <input type="text" name="folder" value="{{matter.case_type}}"
                                            class="form-control" readonly>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="input-group input-group-sm mb-1">
                                        <span class="input-group-text" style="width: 113px;">Venue </span>
                                        <input type="text" name="folder" value="{{matter.filed_at}}"
                                            class="form-control" readonly>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="input-group input-group-sm mb-1">
                                        <span class="input-group-text" style="width: 113px;">Nature </span>
                                        <input type="text" name="folder" value="{{matter.nature}}" class="form-control"
                                            readonly>
                                    </div>
                                </div>
                                <div class="h6 pb-2 mb-2 text-success border-bottom border-success">
                                    <b>IPO Assignments</b>
                                </div>
                                <div class="col-lg-6">
                                    <div class="input-group input-group-sm mb-1">
                                        <span class="input-group-text" style="width: 113px;">App No.</span>
                                        <input type="text" name="folder" value="{{ip_matter.application_no}}"
                                            class="form-control" readonly>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="input-group input-group-sm mb-1">
                                        <span class="input-group-text" style="width: 113px;">Date Filed </span>
                                        <input type="text" name="folder"
                                            value="{{ip_matter.application_date | date:'m/d/Y'}}" class="form-control"
                                            readonly>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="input-group input-group-sm mb-1">
                                        <span class="input-group-text" style="width: 113px;">Cert. Number</span>
                                        <input type="text" name="folder" value="{{ip_matter.certificate_no}}"
                                            class="form-control" readonly>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="input-group input-group-sm mb-1">
                                        <span class="input-group-text" style="width: 113px;">Cert Date </span>
                                        <input type="text" name="folder"
                                            value="{{ip_matter.registration_date | date:'m/d/Y'}}" class="form-control"
                                            readonly>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="input-group input-group-sm mb-1">
                                        <span class="input-group-text" style="width: 113px;">OG Gazette Ref</span>
                                        <input type="text" name="folder" value="{{ip_matter.publication_reference}}"
                                            class="form-control" readonly>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="input-group input-group-sm mb-1">
                                        <span class="input-group-text" style="width: 113px;">Publication</span>
                                        <input type="text" name="folder"
                                            value="{{ip_matter.publication_date | date:'m/d/Y'}}" class="form-control"
                                            readonly>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="input-group input-group-sm mb-1">
                                        <span class="input-group-text" style="width: 113px;">IPC Number</span>
                                        <input type="text" name="folder" value="{{ip_matter.ipc_appno | date:'m/d/Y' }}"
                                            class="form-control" readonly>
                                    </div>
                                    <div class="input-group input-group-sm mb-1">
                                        <span class="input-group-text" style="width: 113px;">Renewal Date</span>
                                        <input type="text" name="folder"
                                            value="{{ip_matter.renewal_date | date:'m/d/Y' }}" class="form-control"
                                            readonly>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="input-group input-group-sm mb-1">
                                        <span class="input-group-text" style="width: 113px;">IPC Date</span>
                                        <input type="text" name="folder"
                                            value="{{ip_matter.ipc_appdate | date:'m/d/Y' }}" class="form-control"
                                            readonly>
                                    </div>
                                </div>
                                <div class="h6 pb-2 mb-2 text-success border-bottom border-success">
                                    <b>Other Information</b>
                                </div>
                                <div class="col-lg-6">
                                    <div class="input-group input-group-sm mb-1">
                                        <span class="input-group-text" style="width: 113px;">Status </span>
                                        <input type="text" name="folder" value="{{ip_matter.status}}"
                                            class="form-control" readonly>
                                    </div>

                                    <div class="input-group input-group-sm mb-1">
                                        <span class="input-group-text" style="width: 113px;">Withdrawal Date</span>
                                        <input type="text" name="folder" value="{{ip_matter.reason_withdrawn}}"
                                            class="form-control" readonly>
                                    </div>
                                    <div class="input-group input-group-sm mb-1">
                                        <span class="input-group-text" style="width: 113px;">Abandon Date</span>
                                        <input type="text" name="folder" value="{{ip_matter.date_of_Withdrawn}}"
                                            class="form-control" readonly>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="input-group input-group-sm mb-1">
                                        <span class="input-group-text" style="width: 113px;">Created</span>
                                        <input type="text" name="folder" value="{{matter.created_at}}"
                                            class="form-control" readonly>
                                    </div>
                                    <div class="input-group input-group-sm mb-1">
                                        <span class="input-group-text" style="width: 113px;">Updated</span>
                                        <input type="text" name="folder" value="{{matter.modified_at}}"
                                            class="form-control" readonly>
                                    </div>
                                    <div class="input-group input-group-sm mb-1">
                                        <span class="input-group-text" style="width: 113px;">Stage</span>
                                        <input type="text" name="folder" value="{{matter.stage_group}}"
                                            class="form-control" readonly>
                                    </div>

                                </div>

                            </div>
                        </div>
                        <div class="tab-pane container fade" id="pf">
                            <a class="btn btn-secondary btn-sm mt-1 mb-1" data-bs-toggle="modal"
                                data-bs-target="#newtemppf" title="New PF details"><i class="fas fa-plus"></i></a>
                            <table class="table-hover table-bordered table-sm small table">
                                <thead class="table-primary text-center">
                                    <tr>
                                        <th scope="col" style="width:2%;">#</th>
                                        <th scope="col" style="width:10%;">Tran Date</th>
                                        <th scope="col" style="width:53%;">Service Rendered</th>
                                        <th scope="col" style="width:10%;">Amount (USD)</th>
                                        <th scope="col" style="width:10%; text-align: right;">Amount (PhP)</th>
                                        <th colspan="2" style="width:5%;">Action</th>


                                    </tr>
                                </thead>
                                <tbody>
                                    {% for pf in tempbills %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ pf.tran_date | date:'m/d/Y' }}</td>
                                        <td>{{ pf.service_rendered }}</td>
                                        <td style="text-align: right;">{{ pf.USDamount }}</td>
                                        <td style="text-align: right;">{{ pf.PhPamount }}</td>
                                        <td><a class="btn btn-secondary btn-sm" href="{% url 'invoice-editPF' pf.id %}"
                                                title="Modify"><i class="fas fa-edit"></i></a>
                                        </td>

                                        <td><a class="btn btn-secondary btn-sm"
                                                href="{% url 'invoice-deletePF' pf.id %}" title="Delete"><i
                                                    class="fas fa-trash-alt"></i></a>
                                        </td>

                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane container fade" id="fees">
                            <a class="btn btn-secondary btn-sm mt-1 mb-1" data-bs-toggle="modal"
                                data-bs-target="#newtempfees" title="New Temp Fees"><i class="fas fa-plus"></i></a>
                            <table class="table-hover table-bordered table-sm small table">
                                <thead class="table-primary text-center">
                                    <tr>
                                        <th scope="col" style="width:3%;">#</th>
                                        <th scope="col" style="width:10%;">Tran Date</th>
                                        <th scope="col" style="width:52%;">Filing Particulars</th>
                                        <th scope="col" style="width:10%;">Amount (USD)</th>
                                        <th scope="col" style="width:10%;">Amount (PhP)</th>
                                        <th colspan="2" style="width:5%;">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for fees in tempfees %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ fees.tran_date | date:'m/d/Y' }}</td>
                                        <td>{{ fees.filing_particulars }}</td>
                                        <td style="text-align: right;">{{ fees.USDamount }}</td>
                                        <td style="text-align: right;">{{ fees.PhPamount }}</td>
                                        <td><a class="btn btn-secondary btn-sm"
                                                href="{% url 'invoice-editfees' fees.id %}" title="Modify"><i
                                                    class="fas fa-edit"></i></a>
                                        </td>

                                        <td><a class="btn btn-secondary btn-sm"
                                                href="{% url 'invoice-deletefees' fees.id %}" title="Delete"><i
                                                    class="fas fa-trash-alt"></i></a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane container fade" id="ope">
                            <a class="btn btn-secondary btn-sm mt-1 mb-1" data-bs-toggle="modal"
                                data-bs-target="#newclGoods" title="Add Class Of Goods"><i class="fas fa-plus"></i></a>
                            <table class="table-hover table-bordered table-sm small table">
                                <thead class="table-primary text-center">
                                    <tr>
                                        <th scope="col" style="width:3%;">#</th>
                                        <th scope="col" style="width:10%;">Tran Date</th>
                                        <th scope="col" style="width:52%;">Expense Particulars</th>
                                        <th scope="col" style="width:10%;">Amount (USD)</th>
                                        <th scope="col" style="width:10%;">Amount (PhP)</th>
                                        <th colspan="2" style="width:5%;">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for ope in tempOPE %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ ope.tran_date | date:'m/d/Y' }}</td>
                                        <td>{{ ope.expnse_particulars }}</td>
                                        <td style="text-align: right;">{{ ope.USDamount }}</td>
                                        <td style="text-align: right;">{{ ope.PhPamount }}</td>
                                        <td><a class="btn btn-secondary btn-sm" href="#" title="Modify"><i
                                                    class="fas fa-edit"></i></a>
                                        </td>

                                        <td><a class="btn btn-secondary btn-sm" href="#" title="Delete"><i
                                                    class="fas fa-trash-alt"></i></a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane container fade" id="invoices">
                            <a class="btn btn-secondary btn-sm mt-1 mb-1" data-bs-toggle="modal"
                                data-bs-target="#newduedateModal" title="New Due Date"><i class="fas fa-plus"></i></a>
                            <!-- <a class="btn btn-primary btn-sm mt-1 mb-1" data-bs-toggle="modal"
                                data-bs-target="#exampleModal" title="New"><i class="fa fa-plus"></i></a> -->
                            <table class="table-hover table-bordered table-sm small table">
                                <thead class="table-primary text-center">
                                    <tr>
                                        <th scope="col" style="width:3%;">#</th>
                                        <th scope="col" style="width:12%;">Bill No</th>
                                        <th scope="col" style="width:12%;">Bill Date</th>
                                        <th scope="col" style="width:12%;">Bill Amount(USD)</th>
                                        <th scope="col" style="width:12%;">Bill Amount(PhP)</th>
                                        <th colspan="2" style="width:5%;">Action</th>


                                    </tr>
                                </thead>
                                <tbody>
                                    {% for invoice in invoices %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ invoice.bill_no }}</td>
                                        <td>{{ invoice.bill_date | date:'m/d/Y' }}</td>
                                        <td style="text-align: right;">{{ invoice.total_USDamounts }}</td>
                                        <td style="text-align: right;">{{ invoice.total_PhPamount }}</td>
                                        <td style="text-align: center;"><a class="btn btn-secondary btn-sm"
                                                href="{% url 'view-invoice' invoice.id %}" title="Edit Due Date"><i
                                                    class="far fa-hand-pointer"></i></a></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane container fade" id="TMImage">
                            <div class="container mb-2 mt-2 text-center">
                                <img class="img-fluid" src="{{ image.image.url }}" height="500" width="500" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}