/* START CONFIGURATION */
html,
body {
    height: 100%;
    margin:0;
    max-width: 100%;
    
}
.wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}
#footer, 
.push {
    height: 50px;
}
/* customize pagination */
.page-item.active .page-link {
    columns: #fff;
    background-color: #6c757d;
    border: 1px solid #6c757d;
}
.pagination > li > a {
    background-color: #fff;
    color: #6c757d;
}

.pagination > li > a:focus, 
.pagination > li > a:hover,
.pagination > span > a:focus,
.pagination > span > a:hover {

    color : #111;
    background-color: #d3d3d3;
    border: 1px solid #6c757d;
    box-shadow: none;
}
/*----
datatables
*/
/* pagination */
.dataTables_paginate {
    /* margin-top: 10px !important; */
    margin-top: -40px !important;
}
/* input search */
.dataTables_filter {
    /* margin-bottom: 5px !important; */
    display: none;
}
/* show entries */
.dataTables_length {
    float: right !important;
    margin-top: 2px !important;
}

/* group buttons */
.dt-buttons {
    margin-bottom: 1px !important;
}
thead input {
    width:100%;
    text-align: center;
}
/* sweetalert customize */
.swal-modal {
    background-color: rgba(0,0,0,0.651);
    color: #fff;
    font-size: 20pxc;
}

.swal-text {
    color: #fff;
    font-size: 15px;
}

/* Button */
.swal-button {
    padding: 7px 19px;
    border-radius: 5px;
    background-color: #198754;
    font-size: 12px;
    border:1px solid #198754;
}
/**/
.swal-button:focus{
    box-shadow: none;
}

/* login */
#card-login {
    width: 450px;
}
.login-border {
    border-top: .4rem solid #198754;
    border-bottom: .4rem solid #198754;
    border-radius: 10px;
}

#btn-enter {
    border-radius: 15px;
    font-size: 16px;
}

/* bootstrap green theme */

.form-control:focus {
    border-color: green;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* checkbox*/
.form-check-input:checked {
    background-color: #8abaae;
    border: green !important;
    box-shadow: 0 0 8px rgba(1,152, 117, .4) !important;
}
.form-check-input {
    border: green !important;
    box-shadow: 0 0 8px rgba(1, 152, 117, .4) !important;
}


