{% extends 'layout/base.html' %}
{% block content %}
<div class="d-flex">
    {% include 'layout/sidebar.html' %}
    <div class="w-100">
        {% include 'layout/header.html' %}
        <div class="my-3 mx-3">
            <div class="col-md-6 offset-md-3">
                <div class="border bg-white p-3 bg-gradient-primary text-black">
                    <h6>Due Code Form</h6>
                    <hr>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="col-auto">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="input-group input-group-sm mb-1">
                                        <span class="input-group-text" style="width: 110px;">Folder</span>
                                        {{form.folder_type}}
                                    </div>
                                    <div class="input-group input-group-sm mb-1">
                                        <span class="input-group-text" style="width: 110px;">App Type</span>
                                        {{form.apptype}}
                                    </div>
                                    <div class="input-group input-group-sm mb-1">
                                        <span class="input-group-text" style="width: 110px;">Due Code</span>
                                        {{form.DueCode}}
                                    </div>
                                    <div class="input-group input-group-sm mb-1">
                                        <span class="input-group-text" style="width: 110px;">Description
                                        </span>
                                        {{form.Description}}
                                    </div>
                                    <div class="input-group input-group-sm mb-1">
                                        <span class="input-group-text" style="width: 110px;">Basis Of Compute</span>
                                        {{form.basisofcompute}}
                                    </div>
                                    <div class="input-group input-group-sm mb-1">
                                        <span class="input-group-text" style="width: 110px;">Field Basis</span>
                                        {{form.fieldbsis}}
                                    </div>
                                    <div class="input-group input-group-sm mb-1">
                                        <span class="input-group-text" style="width: 110px;">Terms</span>
                                        {{form.terms}}
                                    </div>
                                </div>
                            </div>
                            <!-- <button type="submit" class="btn btn-primary mb-3">Save Record</button> -->
                            <a class='btn btn-success' href="{% url 'reference-index' %}">Return</a>
                            <input class='btn btn-success' type="submit" value="Save">
                        </div>
                    </form>
                </div>
                
            </div>
                <table class="table-hover table-bordered table-sm small table" id="clientlist">
                    <!-- <table class="table-hover table-sm table-bordered small table table-dark table-striped">         -->
                    <thead class="table-primary text-center">
                        <tr>
                            <th scope="col" style="width:3%;">#</th>
                            <th scope="col" style="width:25%;">Matter</th>
                            <th scope="col" style="width:20%;">Due Code</th>
                            <th scope="col" style="width:15%;">Due Date</th>
                            <th scope="col" style="width:40%;">Particulars</th>
                            <th scope="col" style="width:5%;">Select</th>

                        </tr>
                    </thead>
                    {% for duedates in duedatelist %}
                    <tr>
                        <td>{{ forloop.counter}}</td>
                        <td>{{ duedates.matter}}</td>
                        <td>{{ duedates.duecode }}</td>
                        <td>{{ duedates.duedate }}</td>
                        <td>{{ duedates.particulars }}</td>
                        <td style="text-align: center;"><a class="btn btn-secondary btn-sm"
                                href="{% url 'select-matter' duedates.matter_id %}" title="Select"><i
                                    class="far fa-hand-pointer"></i></a>
                        </td>
                    </tr>
                    {% endfor %}

                </table>

        </div>
    </div>
</div>
{% endblock content %}