{% extends 'layout/base.html' %}
{% block title %}
Client Edit
{% endblock title %}
{% block content %}
<div class="d-flex">
    {% include 'layout/sidebar.html' %}
    <div class="w-100">
        {% include 'layout/header.html' %}
        <div class="my-3 mx-3">
            <div class="card">
                <div class="card-header text-center" style=" color: black; background-color:rgb(228, 248, 188);">
                    Client Entry Form
                </div>
            </div>
            <form action="" method="POST" class="row g-3">
                <div class="col-auto">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="input-group input-group-sm mb-1 mt-1">
                                <span class="input-group-text" style="width: 113px;">Client</span>
                                {{form.client_name}}
                            </div>
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 113px;">Address</span>
                                {{form.address}}
                            </div>
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 113px;">City</span>
                                {{form.city}}
                            </div>
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 113px;">State</span>
                                {{form.state}}
                            </div>
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 113px;">Country</span>
                                {{form.country}}
                            </div>
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 113px;">Zip Code</span>
                                {{form.zip_code}}
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="input-group input-group-sm mb-1 mt-1">
                                <span class="input-group-text" style="width: 113px;">Entity</span>
                                {{form.entity_type}}
                            </div>
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 113px;">Category</span>
                                {{form.category}}
                            </div>
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 113px;">Industry</span>
                                {{form.industry}}
                            </div>

                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 113px;">Email</span>
                                {{form.email}}
                            </div>
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 113px;">Landline</span>
                                {{form.landline}}
                            </div>
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 113px;">Mobile Phone</span>
                                {{form.mobile}}
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 113px;">Remarks</span>
                                {{form.remarks}}
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 113px;">Status</span>
                                {{form.status}}
                            </div>
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 113px;">Date Acquired</span>
                                {{form.date_acquired}}
                            </div>

                        </div>
                        <div class="h6 pb-2 mb-2 text-success border-bottom border-success">
                            <b>Billing Information</b>
                        </div>
                        <div class="col-lg-6">
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 113px;">Attention To</span>
                                {{form.billing_attention}}
                            </div>
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 113px;">Position</span>
                                {{form.position}}
                            </div>
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 113px;">Bill To</span>
                                {{form.billing_to}}
                            </div>
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 113px;">Bill Address</span>
                                {{form.billing_address}}
                            </div>
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 113px;">Bill Currency</span>
                                {{form.billing_currency}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <a class='btn btn-secondary' href="{% url 'select-client' client.id %}">Return</a>
                        <input class='btn btn-secondary' type="submit" value="Save">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}